{% extends 'crashviewer/base.html' %}
{% load crashviewer_filters %}

{% block content %}

<script>
function myFunction(idx) {
	div = 'mydiv' + idx
    var x = document.getElementById(div);
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>

<div class="row">
	<div>
		<h1><a href="{% url 'project_detail' pk=project.pk %}">
			{{ project.name }}
		</a></h1>
		Comment: <p>{{ project.comment|linebreaksbr }}</p>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-md-1">
		Seed
	</div>
	<div class="col-md-2">
		Module
	</div>
	<div class="col-md-1">
		Code Offset
	</div>
	<div class="col-md-2">
		Pos / Ded / Sig
	</div>

	<div class="col-md-1">
		Code Addr
	</div>
	<div class="col-md-1">
		Cause
	</div>

	<div class="col-md-1">
		Info
	</div>
</div>

{% for crashData in crashDataList %}
<div class="row">
	<div class="col-md-1">
		{{ crashData.seed|shortseed }}
	</div>
	<div class="col-md-2">
		{{ crashData.module|filenameof }}
	</div>
	<div class="col-md-1">
		{{ crashData.codeoff|myhex }}
	</div>
	<div class="col-md-2">
		{{ crashData.fuzzerpos }} / {{ crashData.reallydead }} / {{ crashData.signal }}
	</div>


	<div class="col-md-1">
		{{ crashData.codeaddr|myhex }}
	</div>
	<div class="col-md-1">
		{{ crashData.cause }}
	</div>

	<div class="col-md-1">
		<button onclick="myFunction({{crashData.pk}})">Info</button>
	</div>
</div>
<div class="row crashDataDetails border-top" id="mydiv{{crashData.pk}}">
	<div class="col-md-6 asanOutput">
		{{ crashData.asanoutput|linebreaks }}
	</div>
	<div class="col-md-6">
		{{ crashData.backtrace|linebreaks }}
	</div>
</div>

{% endfor %}

{% endblock %}
