h1 a {
    color: #FCA205;
}
h1 {
    font-size: 2em;
}

.crashDataDetails {
    display: none;
    word-wrap: break-word;
    border-top: 1px solid grey;
}

.asanOutput {
    border-right: 1px solid grey;
}
