h1 a {
    color: #FCA205;
}
h1 {
    font-size: 2em;
}

.page-header {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
}


.content {
    margin-left: 10px;
    margin-right: 10px;
}

.crashDataDetails {
    display: none;
    word-wrap: break-word;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    font-family: monospace;
}

.asanOutput {
    border-right: 1px solid grey;
}

.msgfuzz1 {
    color: red;
}

.moreleft {
    margin-left: 20px;
}
